body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
  height: max-content;
  width: 310px;
  padding: 15px 20px 20px 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.calc h1 {
  font-size: 1.3em;
  padding-bottom: 5px;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4d4d4d;
  width: 270px;
  padding: 0px 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}

.operation-screen {
  font-size: 1.3em;
  text-align: right;
  color: white;
  height: 20px;
  padding: 5px 0px;
}

.result-screen {
  font-size: 2.5em;
  text-align: right;
  color: white;
  padding: 5px 0px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(5, 75px);
  gap: 4px;
}

.key {
  background-color: black;
  color: white;
  font-size: 1.5em;
  text-align: center;
  height: 75px;
  width: 75px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
}

#clear {
  color: #be0000;
}

#backspace {
  color: #ff7300;
}

#zero {
  grid-column: 1 / 3;
  width: 100%;
}

#equal {
  background-color: rgb(0, 140, 165);
  grid-column: 4;
  grid-row: 4 / 6;
  height: 100%;
}